<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .flex {
            display: flex;
            flex-direction: row;
        }
        .button {
            width: 100px;
            background-color: chartreuse;
            border-radius: 10px;
        }
    </style>
    <script src="class23.js"></script>
</head>
<body>
    <div id="app">
        <div :class="['flex']">
            <ul>
                <li v-for="(item, $index) in goods1" :key="$index">
                    {{item.label}}
                </li>
                <button @click="transposition1" :class="['button']">transfer</button>
            </ul>
            <ul>
                <li v-for="(item, $index) in goods2" :key="$index">
                    {{item.label}}
                </li>
                <button @click="transposition2" :class="['button']">transfer</button>
            </ul>
        </div>
    </div>
</body>
</html>